---
pagination:
  data: collections.tagList
  size: 1
  alias: tag
  addAllPagesToCollections: false
layout: layouts/base.njk
eleventyComputed:
  title: "Posts tagged '{{ tag }}'"
permalink: /tags/{{ tag | slugify }}/index.html
---

<div class="page-content">
  <h1>Posts tagged "{{ tag }}"</h1>

  {% set postslist = collections[tag] %}
  {% include "postslist.njk" %}

  <p style="margin-top: 2rem;">
    <a href="/tags/">← All Tags</a>
  </p>
</div>
