---
layout: layouts/base.njk
title: Tags
permalink: /tags/index.html
eleventyNavigation:
  key: Tags
  order: 4
---

<div class="page-content">
  <h1>Tags</h1>
  <p>按主题浏览所有文章：</p>
  <ul class="tags-list">
  {%- for tag in collections.posts | getAllTags | sort %}
    <li><a href="/tags/{{ tag | slugify }}/">{{ tag }}</a></li>
  {%- endfor %}
  </ul>
</div>
